.random {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20%;
  font-size: 15px;

  .button {
    width: 100px;
    height: 30px;
    position: relative;
    color: #333333;
    align-items: center;
    text-align: center;
    outline: none;
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      background: rgba(41, 98, 255, 0.1);
      border-radius: 6px;
      color: #3d5afe;
    }
  }

  .wait {
    font-style: italic;
  }
}
