.random {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 100px;
  color: #333333;
  align-items: center;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    background: rgba(41, 98, 255, 0.1);
    border-radius: 6px;
    color: #3d5afe;
  }
}

.wait {
  margin-top: 20px;
  font-style: italic;
}
